.cm-hero--ghost {
    margin-top: 0 !important;
}

#header>nav>div>ul>li:nth-child(2)>a,

#main-nav-mobile>.menu-panels-wrapper.menu-panels-wrapper--backdrop>div>ul>li:nth-child(2)>a {

    color: #ca3300 !important;

}

#cm-placement-main_placement_4 .cm-hero__body {

    background: 0 0 !important;

}

#cm-placement-main_placement_1 .cm-hero__body .cm-hero__body__controls-wrapper .icon-pause-circle-o::before,

#cm-placement-main_placement_1 .cm-hero__body .cm-hero__body__controls-wrapper .icon-play-circle-o::before,

#cm-placement-main_placement_1 .cm-hero__body .cm-hero__body__controls-wrapper .icon-volume-off::before,

#cm-placement-main_placement_1 .cm-hero__body .cm-hero__body__controls-wrapper .icon-volume-up::before {

    color: #fff !important;

}

#cm-placement-PDP_placement_1 .cm-hero__media-wrapper video,

#cm-placement-main_placement_3 .cm-hero__media-wrapper video {

    object-fit: cover;

}

#cm-placement-PDP_placement_1 .cm-hero__body div div h2,

#cm-placement-main_placement_3 .cm-hero__body div div h2 {

    position: relative;

}

#cm-placement-main_placement_14 .cm-hero__body>div>div {

    width: 75% !important;

}



#cm-placement-main_placement_17 .cm-hero__body>div>div {

    padding: 1rem !important;

}

/* ALIGN HOVER EFFECT TO ALL TYPE OF ELEMENTS IN DDM MAIN LEVEL */

@media (min-width: 1280px) {

    .menu-dropdown .main-nav__top-item>a:hover {

        text-decoration: none;

        text-transform: uppercase;

        background: #dde5ed;

        border-radius: 52px;

    }

}

@media (max-width: 1279px) {

    .menu-dropdown .main-nav__top-item a {

        text-transform: uppercase;

    }

}

@media (min-width: 992px) {

    #cm-placement-main_placement_14 .cm-hero__body>div>div {

        width: 75% !important;

    }

}

@media (max-width: 592px) {

    #cm-placement-main_placement_1 .cm-hero__body>div:last-child {

        padding: 0.5rem 0 !important;

    }

    #cm-placement-PDP_placement_1 .cm-hero__body div div h2 {

        margin-top: 50px;

    }

}

.cm-hero__media-wrapper video {

    object-fit: cover !important;

}

div[data-catentry-id="36696"] img {

    aspect-ratio: 2/1 !important;

    object-fit: contain !important;

}

@media screen and (max-width: 767px) {

    .global-banner__item .promo-countdown a span {

        font-size: 16px;

    }

}

@media screen and (min-width: 768px) {

    .global-banner__item .promo-countdown a span {

        font-size: 18px;

    }

}

@media (max-width: 767.98px) {

    .cm-hero--ghost .cm-hero__body__controls-wrapper {

        position: absolute;

    }

}

a[data-element-id="X_HomePage_Placement6_Tile0"] .product-tile__image img,

a[data-element-id="X_HomePage_Placement6_Tile2"] .product-tile__image img {

    aspect-ratio: 2/1;

    object-fit: contain;

    max-height: 200px;

}

#paypal-button-container-minicart {

    display: block !important;

}

@media (max-width: 767px) {

    #cm-placement-main_placement_4 .cm-hero__body>div {

        align-items: center !important;

    }

}

/*VIEW ALL CAROUSEL CTA VISIBLE ON MOBILE*/

a[data-element-id="X_HomePage_Placement5-CTA0"] {

    display: block !important;

}

/*RED COUNTDOWN HERO BANNER*/

.cm-countdown span {

    color: #ca3300 !important;

}

#header>nav>div>ul>li:nth-child(2)>a,

#main-nav-mobile>.menu-panels-wrapper.menu-panels-wrapper--backdrop>div>ul>li:nth-child(2)>a {

    color: #ca3300 !important;

}

#cm-placement-main_placement_4 .cm-hero__body {

    background: 0 0 !important;

}

#cm-placement-main_placement_1 .cm-hero__body .cm-hero__body__controls-wrapper .icon-pause-circle-o::before,

#cm-placement-main_placement_1 .cm-hero__body .cm-hero__body__controls-wrapper .icon-play-circle-o::before,

#cm-placement-main_placement_1 .cm-hero__body .cm-hero__body__controls-wrapper .icon-volume-off::before,

#cm-placement-main_placement_1 .cm-hero__body .cm-hero__body__controls-wrapper .icon-volume-up::before {

    color: #fff !important;

}

#cm-placement-PDP_placement_1 .cm-hero__media-wrapper video,

#cm-placement-main_placement_3 .cm-hero__media-wrapper video {

    object-fit: cover;

}

#cm-placement-PDP_placement_1 .cm-hero__body div div h2,

#cm-placement-main_placement_3 .cm-hero__body div div h2 {

    position: relative;

}

#cm-placement-main_placement_14 .cm-hero__body>div>div {

    width: 75% !important;

}

#cm-placement-main_placement_17 .cm-hero__body>div>div {

    padding: 1rem !important;

}

/* ALIGN HOVER EFFECT TO ALL TYPE OF ELEMENTS IN DDM MAIN LEVEL */

@media (min-width: 1280px) {

    .menu-dropdown .main-nav__top-item>a:hover {

        text-decoration: none;

        text-transform: uppercase;

        background: #dde5ed;

        border-radius: 52px;

    }

}

@media (max-width: 1279px) {

    .menu-dropdown .main-nav__top-item a {

        text-transform: uppercase;

    }

}

@media (min-width: 992px) {

    #cm-placement-main_placement_14 .cm-hero__body>div>div {

        width: 75% !important;

    }

}

@media (max-width: 592px) {

    #cm-placement-main_placement_1 .cm-hero__body>div:last-child {

        padding: 0.5rem 0 !important;

    }

    #cm-placement-PDP_placement_1 .cm-hero__body div div h2 {

        margin-top: 50px;

    }

}

.cm-hero__media-wrapper video {

    object-fit: cover !important;

}

div[data-catentry-id="36696"] img {

    aspect-ratio: 2/1 !important;

    object-fit: contain !important;

}

@media screen and (max-width: 767px) {

    .global-banner__item .promo-countdown a span {

        font-size: 16px;

    }

}

@media screen and (min-width: 768px) {

    .global-banner__item .promo-countdown a span {

        font-size: 18px;

    }

}

@media (max-width: 767.98px) {

    .cm-hero--ghost .cm-hero__body__controls-wrapper {

        position: absolute;

    }

}

a[data-element-id="X_HomePage_Placement6_Tile0"] .product-tile__image img,

a[data-element-id="X_HomePage_Placement6_Tile2"] .product-tile__image img {

    aspect-ratio: 2/1;

    object-fit: contain;

    max-height: 200px;

}

#paypal-button-container-minicart {

    display: block !important;

}

@media (max-width: 767px) {

    #cm-placement-main_placement_4 .cm-hero__body>div {

        align-items: center !important;

    }

}

/*VIEW ALL CAROUSEL CTA VISIBLE ON MOBILE*/

a[data-element-id="X_HomePage_Placement5-CTA0"] {

    display: block !important;

}

/*RED COUNTDOWN HERO BANNER*/

.cm-countdown span {

    color: #ca3300 !important;

}

/*COSTA STORIES ARTICLE IMAGES FIX MOBILE*/

@media (max-width: 767px) {

    .cm-placement .d-flex.nh-editorial {

        flex-direction: column !important;

    }

}