
/**  Margin & Padding **/

// breakpoints //
// 400px | 768px-769px | 1023px-1024px | 1280px-1281px | 1440px //

.ct_space{
    .ct_m__auto{
        margin: auto;
    }
    
    @media(min-width: 1281px){
        .ct_p__standard {
            padding: 20px;
        }
        .ct_m__standard {
            margin: 20px;
        }
        .ct_pt__standard {
            padding-top: 20px;
        }
        .ct_mt__standard {
            margin-top: 20px;
        }
        .ct_pb__standard {
            padding-bottom: 20px;
        }
        .ct_mb__standard {
            margin-bottom: 20px;
        }
    }
    @media(min-width: 769px) and (max-width: 1280px){
        .ct_p__standard {
            padding: 15px;
        }
        .ct_m__standard {
            margin: 15px;
        }
        .ct_pt__standard {
            padding-top: 15px;
        }
        .ct_mt__standard {
            margin-top: 15px;
        }
        .ct_pb__standard {
            padding-bottom: 15px;
        }
        .ct_mb__standard {
            margin-bottom: 15px;
        }
    }
    @media(max-width: 768px){
        .ct_p__standard {
            padding: 12px;
        }
        .ct_m__standard {
            margin: 12px;
        }
        .ct_pt__standard {
            padding-top: 12px;
        }
        .ct_mt__standard {
            margin-top: 12px;
        }
        .ct_pb__standard {
            padding-bottom: 12px;
        }
        .ct_mb__standard {
            margin-bottom: 12px;
        }
    }
}

.ct_space{
    $space-base: 10px;
    $space-base-name: 10;

    @for $i from 0 through 5 {
        .ct_p__#{$i * $space-base-name} {
            padding: $i * $space-base !important;
        }
        .ct_m__#{$i * $space-base-name} {
            margin: $i * $space-base !important;
        }
        .ct_pt__#{$i * $space-base-name} {
            padding-top: $i * $space-base !important;
        }
        .ct_mt__#{$i * $space-base-name} {
            margin-top: $i * $space-base !important;
        }
        .ct_pb__#{$i * $space-base-name} {
            padding-bottom: $i * $space-base !important;
        }
        .ct_mb__#{$i * $space-base-name} {
            margin-bottom: $i * $space-base !important;
        }
        .ct_pr__#{$i * $space-base-name} {
            padding-right: $i * $space-base !important;
        }
        .ct_mr__#{$i * $space-base-name} {
            margin-right: $i * $space-base !important;
        }
        .ct_pl__#{$i * $space-base-name} {
            padding-left: $i * $space-base !important;
        }
        .ct_ml__#{$i * $space-base-name} {
            margin-left: $i * $space-base !important;
        }
    }

    @media(max-width: 1023px){
        @for $i from 0 through 5 {
            .ct_p__mob__#{$i * $space-base-name} {
                padding: $i * $space-base !important;
            }
            .ct_m__mob__#{$i * $space-base-name} {
                margin: $i * $space-base !important;
            }
            .ct_pt__mob__#{$i * $space-base-name} {
                padding-top: $i * $space-base !important;
            }
            .ct_mt__mob__#{$i * $space-base-name} {
                margin-top: $i * $space-base !important;
            }
            .ct_pb__mob__#{$i * $space-base-name} {
                padding-bottom: $i * $space-base !important;
            }
            .ct_mb__mob__#{$i * $space-base-name} {
                margin-bottom: $i * $space-base !important;
            }
            .ct_pr__mob__#{$i * $space-base-name} {
                padding-right: $i * $space-base !important;
            }
            .ct_mr__mob__#{$i * $space-base-name} {
                margin-right: $i * $space-base !important;
            }
            .ct_pr__mob__#{$i * $space-base-name} {
                padding-left: $i * $space-base !important;
            }
            .ct_mr__mob__#{$i * $space-base-name} {
                margin-left: $i * $space-base !important;
            }
        } 
    }
}