.ct_space{
    
    .ct_text__left{
        text-align: left;
    }

    .ct_text__right{
        text-align: right;
    }

    .ct_text__center{
        text-align: center;
    }

    .ct_lh__1 {
        line-height: 1!important;
    }

    .ct_lh__sm {
        line-height: 1.25!important;
    }

    .ct_lh__default {
        line-height: 1.25!important;
    }

    @media(max-width: 990px){
        .ct_text__mob__left{
            text-align: left;
        }
    
        .ct_text__mob__right{
            text-align: right;
        }
    
        .ct_text__mob__center{
            text-align: right;
        }
    }
}
