.ct_space{
    $width-base: 10%;
    $width-base-name: 10;

    .ct_border{
        border: 1px #ccc solid;
    }

    a{
        p,h2{
            text-decoration: none !important;
        }
    }
    .ct_w__10{
        width: 10%;
    }
    .ct_w__20{
        width: 20%;
    }

    .ct_w__36{
        width: 36%;
    }

    .ct_w__40{
        width: 40%;
    }
    .ct_w__50{
        width: 50%;
    }


    @media(max-width: 1199px) {
      
        @for $i from 0 through 10 {
            .ct_w__mob__#{$i * $width-base-name} {
                width: $i * $width-base !important;
            }
        }
    }
}